
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Starting header */
.header-top{
    width: 100%;
    height: 670px;
    background: url(../images/backgroundindex.png) no-repeat center center / cover;
}
.header-top {
    padding: 9px 0;
    width: 100%;
}
.active {
    color: #007d2f !important;
    font-weight: 700 !important;
}

.nav-link {
    font-size: 12px;
    color: #191919;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}
.btn{
    border-radius: 0 !important;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.develop h2{
    font-size: 36px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin: 70px 0 22px;
}
.develop p{
    color: #787878;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 34px;
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
}

/* Starting footer */
footer {
    padding: 100px 0;
    background: #141414;
}
footer h2{
    font-size: 17px;
    font-weight: 500;
    word-spacing: 0.5rem;
}
footer p {
    font-size: 14px !important;
    color: #bcbcbc;
}

.nav-link{
    font-size: 14px;
    color: #bcbcbc;
    text-transform: capitalize;
}

footer .nav-link:hover {
    color: #fff;
}
@media (max-width: 576px){
    footer .nav-link{
        font-size: 12px;
    }
}